<div class="row-layout group">
  <igx-card type="outlined" [horizontal]="true" *ngFor="let item of northwindEmployees" class="card">
    <div class="group_1">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          {{ item.lastName }}
        </h3>
        <h5 igxCardHeaderSubtitle>
          {{ item.title }}
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple routerLink="/layouts" class="button">
            Details
          </button>
        </ng-container>
      </igx-card-actions>
    </div>
    <igx-card-media width="100px">
      <img [src]="item.avatarUrl" class="image" />
    </igx-card-media>
  </igx-card>
</div>
<div class="row-layout group_2">
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="home" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Home</span>
      <span igxListLineSubTitle>Subtitle...</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="business" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Accounts</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="person_outline" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Contacts</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="inbox" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Contracts</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="bar_chart" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Reports</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="calendar_today" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Calendar</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar icon="assignment_turned_in" FontSet="Material" shape="circle" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Tasks</span>
    </igx-list-item>
  </igx-list>
  <div class="column-layout group_3">
    <igx-list class="list_1">
      <igx-list-item [isHeader]="false" *ngFor="let item of northwindEmployees">
        <span igxListThumbnail>
          <igx-avatar [src]="item.avatarUrl" FontSet="Material" shape="circle"></igx-avatar>
        </span>
        <span igxListLineTitle>{{ item.lastName }}</span>
        <span igxListLineSubTitle>{{ item.title }}</span>
        <span igxListAction>
          <igx-icon class="icon">
            star
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout group_3">
    <igx-list class="list_1">
      <igx-list-item [isHeader]="false" *ngFor="let item of northwindEmployees">
        <span igxListThumbnail>
          <igx-avatar [src]="item.avatarUrl" size="large" FontSet="Material"></igx-avatar>
        </span>
        <span igxListLineTitle>{{ item.lastName }}</span>
        <span igxListLineSubTitle>{{ item.title }}</span>
        <span igxListLine>
          <div class="row-layout group_4">
            <div class="column-layout group_5">
              <p class="ig-typography__caption text">
                Birthday
              </p>
              <p class="ig-typography__caption text_1">
                {{ item.birthDate }}
              </p>
            </div>
            <div class="column-layout group_5">
              <p class="ig-typography__caption text">
                Country
              </p>
              <p class="ig-typography__caption text_1">
                {{ item.address.country }}
              </p>
            </div>
          </div>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
