:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.stepper {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.step-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 50px;
}
.row-layout {
  display: flex;
}
.step-content_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 50px;
}
.group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.input {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-shrink: 0;
}
.button {
  --igx-button-foreground: hsla(var(--ig-surface-500));
  height: max-content;
  align-self: flex-start;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.text {
  height: max-content;
  min-width: min-content;
}
.grid {
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
