<div class="row-layout group">
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="customDialog" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open custom dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" [igxToggleAction]="customDialog" #customDialog>
      <igx-dialog-title>
        <h5>
          Confirmation
        </h5>
      </igx-dialog-title>
      <ng-container>
        <img src="/assets/SketchParser.png" class="image" />
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="raised" igxRipple [igxToggleAction]="customDialog" class="button_1">
          Yay
        </button>
        <button igxButton="outlined" igxRipple [igxToggleAction]="customDialog" class="button_1">
          Nay
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="alert" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open alert dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #alert>
      <ng-container>
        <p>Are you sure you want to do this?</p>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple [igxToggleAction]="alert">Cancel</button>
        <button igxButton="flat" igxRipple [igxToggleAction]="alert">OK</button>
      </igx-dialog-actions>
    </igx-dialog>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #customContent>
      <igx-dialog-title>
        <h5>
          Dialog with custom content
        </h5>
      </igx-dialog-title>
      <ng-container>
        <div class="column-layout group_2">
          <p class="text">
            Dialog Component: Include dialog content container structure and its styles in the payload
          </p>
        </div>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple class="button_2">
          Cancel
        </button>
        <button igxButton="raised" igxRipple class="button_2">
          Confirm
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="confirm" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open confirmation dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #confirm>
      <igx-dialog-title>
        <h5>
          Show custom dialog?
        </h5>
      </igx-dialog-title>
      <ng-container>
        <p>Are you sure you want to do this?</p>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple [igxToggleAction]="confirm">Cancel</button>
        <button igxButton="flat" igxRipple [igxToggleAction]="customDialog">Show me</button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="customContent" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open custom content dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #confirm1>
      <igx-dialog-title>
        <h5>
          Show custom dialog?
        </h5>
      </igx-dialog-title>
      <ng-container>
        <p>Are you sure you want to do this?</p>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple [igxToggleAction]="confirm1">Cancel</button>
        <button igxButton="flat" igxRipple [igxToggleAction]="customDialog">Show me</button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
</div>
<div class="row-layout group">
  <div class="row-layout group_3">
    <button igxButton="raised" igxRipple [igxToggleAction]="snackbar" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open snackbar</span>
    </button>
  </div>
  <div class="row-layout group_3">
    <button igxButton="raised" igxRipple [igxToggleAction]="banner" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open banner</span>
    </button>
  </div>
  <div class="row-layout group_3">
    <button igxButton="raised" igxRipple (click)="groupVisible = !groupVisible" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Unhide filter row</span>
    </button>
  </div>
</div>
<igx-banner #banner class="banner">
  <p>
    Banner message
  </p>
  <igx-banner-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="banner" class="button_2">
      Dismiss
    </button>
  </igx-banner-actions>
  <igx-icon class="icon">
    mail
  </igx-icon>
</igx-banner>
<div *ngIf="groupVisible" class="row-layout filter-row">
  <p class="text">
    Filter row
  </p>
  <a target="_blank" (click)="groupVisible = !groupVisible" class="ig-typography__body-1 hyperlink">
    Close
  </a>
</div>
<igx-snackbar actionText="Dismiss" (clicked)="snackbar.toggle()" #snackbar class="snackbar">
  This is a message
</igx-snackbar>
